

@media only screen and (min-device-width: 720px) {


    .appt-data{
        width: 90%;
        margin: auto;
        
    }
    
    .appt-list{
        width: 90%;
        margin: auto;
        
    }
}

@media screen and (max-device-width: 720px) {
    .app-list{
        width: 100%;
    }    
    
    .appt-data{
        width: 100%;
    }
}   



.diagonalCross2 {
    background: linear-gradient(to top right, #fff calc(50% - 1px), black , #880808 calc(50% + 1px) )
}
  

.card-notify-date {
    position: absolute;
    right: -10px;
    top: -20px;
    background: #880808;
    border-radius: 50%;
    text-align: center;
    color: #fff;      
    font-size: 15px;      
    width: 100px;
    height: 100px;    
    padding: 40px 10px 0 0;
}


.calendar-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(217, 255, 0);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  
.calendar-badge .badge-day {
    color: #4e73e5;
    font-weight: 500;
    font-size: 150%;
    line-height: 1;
}

.calendar-badge .badge-month {
    color: #4e73e5;
    line-height: 1;
    font-size: 100%;
    text-transform: uppercase;
}

.nextAppts{
    margin:15px;
    margin-bottom: 30px;
    transition: background-color 0.5s ease;
}

.nextAppts .owl-item{
    border-left-style: solid;
    border-left-width: 1.5px;
    border-left-color: hsl(0, 89%, 28%);
    border-right-style: solid;
    border-right-width: 1.5px;
    border-right-color: hsl(0, 89%, 28%);
    
} 

.nextAppts .owl-item:hover .nextApptsTitle, .nextAppts .owl-item:hover{
    background-color: #880808;
    color: white;
    transition: background-color 0.5s ease;
}

.nextApptsTitle{
    color: hsl(0, 89%, 28%);
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}