.card-appt {
    border: 0;
    color: #696969;
    box-shadow: 5px 5px 10px;
}
.card-appt {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffff;
    background-clip: border-box;
    border: 0 solid #e6e4e9;
    border-radius: 8px;
}

.card-header-appt{
    flex-direction: column;
    border-radius: 8px;
    background-color: #880808;
    color:white;
}