body {
  margin: 0;
  font-family: 'Spectral SC';
  /* background-color: #49405e; */
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  font-family: 'Roboto';
  letter-spacing: 0.14vh;
  color: black;
  font-weight: 500 !important;
}

textarea{
  font-family: 'Roboto';
  letter-spacing: 0.14vh;
  color: black;
  font-weight: 500 !important;
}
