.card{
    border: 0;
    color: #696969;
    box-shadow: 0 0 10px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffff;
    background-clip: border-box;
    border: 0 solid #e6e4e9;
    border-radius: 8px;
    margin-left: 19%;
}

.hr {
    border-top: 1px dotted #880808;
    border-radius: 25px;
}

.card .card-header{
    background-color: #880808;
    flex-direction: column;
    border-radius: 8px;
    color: white;
}

.data{
    margin-top: 7%;
}

.btn-edit{
    margin-top: 10%;
    margin-left: 35%;
}

.img{
    border: 11px solid #880808;
    border-radius: 8px;
}