.appt-data{
    width: 35%;
    height: 100%;
}

.appt-list{
    width: 65%;
    height: auto;
}

.diagonalCross2 {
    background: linear-gradient(to top right, #fff calc(50% - 1px), black , #880808 calc(50% + 1px) )
}
  

.card-notify-date {
    position: absolute;
    right: -10px;
    top: -20px;
    background: #880808;
    border-radius: 50%;
    text-align: center;
    color: #fff;      
    font-size: 15px;      
    width: 100px;
    height: 100px;    
    padding: 40px 10px 0 0;
}


.calendar-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(217, 255, 0);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  
.calendar-badge .badge-day {
    color: #4e73e5;
    font-weight: 500;
    font-size: 150%;
    line-height: 1;
}

.calendar-badge .badge-month {
    color: #4e73e5;
    line-height: 1;
    font-size: 100%;
    text-transform: uppercase;
}